* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  text-align: center;
}

.btn {
  cursor: pointer;
  color: #fff;
  background: #444;
  padding: 10px;
}
.input-item {
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #444;
  outline: none;
}

.item {
  background: blue;
  color: #fff;
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.fa {
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
}
.modal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
